#content .price-table .ques-icon{
    background:url('../images/Question_Icon.png');
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    display: inline-block;
    
}
/*#content .price-table .contact{
    line-height:  24px;
}*/
#content .price-table .desc{
    font-size: 12px;
    color: #999;
}
.floatright {
float: right;
}

/*tooltip*/

.ui-tooltip, .arrow:after {
    background: black !important;
    border: 1px solid black ! important;
    cololr:#fff;
}
.ui-tooltip {
    max-width: 300px;
    padding: 10px 20px;
    color: white ! important;
    border-radius: 20px;
    font: bold 12px "Helvetica Neue", Sans-Serif;
    box-shadow: 0 0 7px black;
    font-size: 12px ! important;
    text-align: left;
}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 44%;
    margin-left: -35px;
    bottom: 55px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}

.floatleft {float: left;}


.wrapper {
position: relative;
/*width: 960px;*/
margin-left: auto;
margin-right: auto;
/*padding: 0px 25px 0px 15px;*/
padding: 10px 10%;
text-align: left;
}
#content {
width: 100%;
}
/**/
* { 
    margin: 0; 
    padding: 0; 

}

#page-wrap {
    margin: 50px;
}
p {
    margin: 20px 0; 
}

    /* 
    Generic Styling, for Desktops/Laptops 
    */
    table { 
        width: 100%; 
        border-collapse: collapse; 
    }
    /* Zebra striping */
    tr:nth-of-type(odd) { 
        background: #eee; 
    }
    th { 
        background: #333; 
        color: #000; 
        /*font-weight: bold; */
    }
    td, th { 
        padding: 6px; 
        border: 1px solid #ddd; 
        text-align: left; 
    }
    /* 
    Max width before this PARTICULAR table gets nasty
    This query will take effect for any screen smaller than 760px
    and also iPads specifically.
    */
    @media only screen and (max-width: 760px)  {
    
        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr { 
            display: block; 
        }
        
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        
        tr { border: 1px solid #ccc; }
        
        td { 
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee; 
            position: relative;
            padding-left: 50%;
            word-wrap:break-word; 
        }
        
        td:before { 
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%; 
            padding-right: 10px; 
            white-space: nowrap;
            overflow: hidden;
            text-overflow:ellipsis;
            
        }
        
        /*
        Label the data
        */
        td:nth-of-type(1):before { content: "Start Free Pay as you go"; }
        td:nth-of-type(2):before { content: "Minimum recharge / Top-up"; }
        td:nth-of-type(3):before { content: "Permitted Use"; }
        td:nth-of-type(4):before { content: "Free Sign-Up Credit"; }
        td:nth-of-type(5):before { content: "Using Your Own Questions (per candidate / test)"; }
        td:nth-of-type(6):before { content: "Using Arrivu's Pre-Built Tests (per candidate / test)"; }
        td:nth-of-type(7):before { content: "Webcam Proctoring (per candidate / test)"; }
        td:nth-of-type(8):before { content: "Arrivu Question Banks"; }
        td:nth-of-type(9):before { content: "Technical Support"; }
        td:nth-of-type(10):before { content: "Arrivu Question Banks"; }
        td:nth-of-type(11):before { content: "Create Unlimited Tests"; }
        td:nth-of-type(12):before { content: "Add Unlimited Questions per Test"; }
        td:nth-of-type(13):before { content: "Add Your Own (Basic type) Questions"; }
        td:nth-of-type(14):before { content: "Customize Test Reports"; }
        td:nth-of-type(15):before { content: "Multiple User Access"; }
       
    }
    
    /* Smartphones (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        body { 
            padding: 0; 
            margin: 0; 
            width: 320px;font: 14px/1.4 Georgia, Serif;  }

        }

    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        body { 
            width: 495px; 
        }
    }
    